<h1 class="error__title">Ошибка</h1>
<div class="error">
  <p class="error__message"><%= message || 'Что-то пошло не так' %></p>
</div>
<a class="btn btn--primary error__back-link" href="/">Вернуться на главную</a>