extends ../layout

block content
    h1.page__section-title Доступ запрещён
    p.page__text Чтобы получить доступ к этой странице, войдите или зарегистрируйтесь.
    a.page__link.btn.btn--primary(href="/auth/login") Войти
    br
    a.page__link.btn.btn--secondary(href="/auth/register") Зарегистрироваться