doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/users.css')
  body
    header
      h1= title
      nav
        ul
          li
            a(href="/") Главная
          li
            a(href="/users") Пользователи
          li
            a(href="/articles") Статьи

    main
      block content

    footer
      p &copy; 2025 Моё приложение