<h1 class="articles__title">Список статей</h1>
<div class="articles">
    <ul class="articles__list">
        <% articles.forEach(function(article) { %>
            <li class="articles__item">
                <a class="articles__link" href="/articles/<%= article.id %>">
                    <div class="articles__card">
                        <h3 class="articles__card-title"><%= article.title %></h3>
                        <p class="articles__card-author">Автор: <%= article.author %></p>
                        <p class="articles__card-summary"><%= article.summary %></p>
                    </div>
                </a>
            </li>
        <% }); %>
    </ul>
</div>