extends layout

block content
    h2.page__section-title Ошибка
    div.error__container
        p.error__message= message || 'Что-то пошло не так'
    a.error__link.btn.btn--primary(href='/') Вернуться на главную