extends layout

block content
    h2.page__section-title Добро пожаловать в Express приложение

    section.dashboard
        div.dashboard__welcome
            p.dashboard__text Это демонстрационное приложение использует различные шаблонизаторы:
            ul.dashboard__features
                li.dashboard__feature-item Pug - для главной страницы и раздела пользователей
                li.dashboard__feature-item EJS - для раздела статей

        div.dashboard__sections
            article.dashboard__section-card
                h3.section-card__title Пользователи
                p.section-card__description Просмотр и управление пользователями системы
                a.section-card__link.btn.btn--primary(href='/users') Перейти к пользователям

            article.dashboard__section-card
                h3.section-card__title Статьи
                p.section-card__description Просмотр и управление статьями на сайте
                a.section-card__link.btn.btn--primary(href='/articles') Перейти к статьям