extends layout

block content
  h2.page-title Добро пожаловать в Express приложение

  .dashboard
    .welcome-box
      p Это демонстрационное приложение использует различные шаблонизаторы:
      ul.features-list
        li Pug - для главной страницы и раздела пользователей
        li EJS - для раздела статей

    .sections-overview
      .section-card
        h3 Пользователи
        p Просмотр и управление пользователями системы
        a.btn.btn-primary(href='/users') Перейти к пользователям

      .section-card
        h3 Статьи
        p Просмотр и управление статьями на сайте
        a.btn.btn-primary(href='/articles') Перейти к статьям