extends ../layouts/main

block content
  h2 Список пользователей

  table.users-table
    thead
      tr
        th ID
        th Имя
        th Email
        th Действия
    tbody
      each user in users
        tr
          td= user.id
          td= user.name
          td= user.email
          td
            a(href=`/users/${user.id}`) Подробнее