extends ../layout

block content
  h2 Список пользователей
  .users-container
    ul.users-list
      each user in users
        li.user-item
          a(href=`/users/${user.id}`)
            .user-card
              h3= user.name
              p= user.email