extends ../layout

block content
    h1.page__section-title Список пользователей
    if users && users.length
        ul.users__list
            each user in users
                li.users__item
                    a(href=`/users/${user.userId}`) #{user.name} - #{user.email}
    else
        p.error Пользователи не найдены