extends ../layout

block content
    h1.page__section-title Профиль пользователя
    if user
        div.user__profile
            p.user__name Имя: #{user.name}
            p.user__email Email: #{user.email}
    else
        p.error Пользователь не найден